<div class="container text-center">
    <h2>About page</h2>
      <p><em>We are DevMatch. Our company focuses on creating an exclusive community
  developers and entrepreneurs to meet.</em></p>
</div>